/* Clientes component specific styles */
.table-custom th:nth-child(1),
.table-custom td:nth-child(1) {
  width: 60px;
}

.table-custom th:nth-child(2),
.table-custom td:nth-child(2) {
  width: 140px;
}

.table-custom th:nth-child(8),
.table-custom td:nth-child(8) {
  width: 100px;
}

.table-custom th:nth-child(9),
.table-custom td:nth-child(9) {
  width: 160px;
}
